.navbar-light .navbar-nav .nav-link {
    color: #333;
    font-weight: 500;
    text-transform: none;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #0d6efd;
}

.btn-teal {
    background-color: #009688;
    border: none;
    border-radius: px;
}

.btn-teal:hover {
    background-color: #00796b;
    color: #fff;
}

#mainNav {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#mainNav .navbar-brand {
    font-size: 16px;
    padding: 0;
}

#mainNav .nav-link {
    font-size: 14px;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

#mainNav .navbar-nav {
    align-items: center;
}

#mainNav .navbar-brand,
#mainNav .nav-link {
    color: black !important;
}

#mainNav .nav-link:hover,
#mainNav .navbar-brand:hover {
    color: var(--bs-primary) !important;
}

#mainNav .nav-link.active {
    color: var(--bs-primary) !important;
}

.hero-section {
    min-height: 100vh;
    background: linear-gradient(135deg, #22b8a1 0%, #30c8c0 100%);
    padding: 120px 0;
    display: flex;
    align-items: center;
}

/* Badge */
.hero-badge {
    background: rgba(255,255,255,0.2);
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 25px;
}

/* Title */
.hero-title {
    font-size: 62px;
    font-weight: 700;
    line-height: 1.1;
}

.hero-title span {
    color: #0f172a;
}

/* Description */
.hero-description {
    margin: 25px 0;
    font-size: 18px;
    line-height: 1.7;
    max-width: 500px;
}

/* Buttons */
.btn-dark-custom {
    background: #0f172a;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    margin-right: 15px;
    text-decoration: none;
}

.btn-light-custom {
    background: white;
    color: #0f172a;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
}

/* Stats */
.hero-stats {
    display: flex;
    gap: 40px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.hero-stats h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.hero-stats p {
    margin: 0;
    font-size: 14px;
}

/* Image Frame */
.hero-image-wrapper {
    position: relative;
    margin-top: 40px;
}

.hero-framed-image {
    width: 100%;
    max-width: 550px;
    border-radius: 25px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.3);
    border: 8px solid rgba(255,255,255,0.15);
    transition: transform 0.4s ease;
}

.hero-framed-image:hover {
    transform: translateY(-10px);
}

.About-style {
    color: #0f172a;
}

.About-span {
    margin-top: 50px;
    width: 600px;
    text-align: justify;
}
